:root {
  text-align: center;
  font-size: 3 rem;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
}
.box1 {
  background-color: #f7685d;
  padding: 3% 4%;
}
.special {
  background-color: #f77458;
  color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border-collapse: collapse;
  border: none;
  margin: auto;
}
table {
  margin: auto;
  border-collapse: collapse;
  border: none;
  background-color: white;
  height: 20em;
  width: 23em;
  box-shadow:  3px 5px rgba(0, 0, 0, 0.3),
   -3px 3px 5px rgba(0, 0, 0, 0.3);
}
td {
  width: 3em;
  height: 3em;
}
thead tr {
  background-color: #404040;
  color: white;
}

tbody tr {
  background-color: white;
  color: #404040;
}
