:root {
    text-align: center;
}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border:0ch
}
tr td:nth-child(1) {
    width: 5%;;
}
tr td:nth-child(2) {
    width: 10%;
}
tr td:nth-child(3) {
    width: 10%
}
tr td:nth-child(4) {
    width: 30%
}
tr td:nth-child(5) {
    width: 25%
}
tr td:nth-child(6) {
    width: 20%
}
thead tr:nth-child(1) {
    background-color:black;
    color: white;
}
tbody tr:nth-child(2n) {
    background-color:hsl(0, 0%, 75%);
    color: black;
}
tbody tr:nth-child(2n-1) {
    background-color: white;
    color: black;
}