:root {
    text-align:left;
    font-size: 1rem; 
    font-family: Arial, Helvetica, sans-serif; 
}
.box1 {
    background-color: black;
    padding: 3% 4%;
}
table{
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border:0ch;
    margin: auto;
}
thead {
    
    font-weight: bolder;
}
thead tr:nth-child(1) {
    background-color:#EA6153;
    color: white;   
}
tbody tr:nth-child(2n) {
    background-color:#E9E9E9;
    color: black;
}
tbody tr:nth-child(2n-1) {
    background-color: white;
    color: black;
}
tr td:nth-child(1) {
    width: 2em;
    height: 2em;
}
tr td:nth-child(2) {
    width: 2em;
    height: 2em;
}
tr td:nth-child(3) {
    width: 2em;
    height: 2em;
}
tr td:nth-child(4) {
    width: 2em;
    height: 2em;
}