@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Open+Sans:wght@300;500;700&family=Roboto:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
  font-family: "Open Sans", sans-serif;
}
body {
  padding: 2em 2em;
  justify-content: center;
  background-color: white;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 3vw);
  grid-column-gap: 30px;
}
figure {
  position: relative;
}
.column1{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9,1vw);
    grid-row-gap:30px;
}
.column2{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9,1vw);
    grid-row-gap:30px;
}
.column3{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9,1vw);
    grid-row-gap:30px;
}
.img1 {
  grid-column-start: span 3;
  grid-row-start: span 15;
}
.img2 {
  /* grid-column: 1/4;
  grid-row: 16/24; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img3 {
  /* grid-column: 1/4;
  grid-row: 24/32; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img4 {
  /* grid-column: 1/4;
  grid-row: 33/41; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img5 {
  /* grid-column: 1/4;
  grid-row: 42/50; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img6 {
  /* grid-column: 1/4;
  grid-row: 50/61; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img7 {
  /* grid-column: 1/4;
  grid-row: 61/77; */
  grid-column-start: span 3;
  grid-row-star: span 16;
}
.img8 {
  /* grid-column: 1/4;
  grid-row: 77/95; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img9 {
  /* grid-column: 4/7;
  grid-row: 1/9; */
  grid-column-start: span 3;
  grid-row-start: span 6;
}
.img10 {
  /* grid-column: 4/7;
  grid-row: 9/18; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img11 {
  /* grid-column: 4/7;
  grid-row: 18/36; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img12 {
  /* grid-column: 4/7;
  grid-row: 36/52; */
  grid-column-start: span 3;
  grid-row-start: span 16;
}
.img13 {
  /* grid-column: 4/7;
  grid-row: 52/70; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img14 {
  /* grid-column: 4/7;
  grid-row: 70/79; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img15 {
  /* grid-column: 4/7;
  grid-row: 79/97; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img16 {
  /* grid-column: 7/10;
  grid-row: 1/17; */
  grid-column-start: span 3;
  grid-row-start: span 16;
}
.img17 {
  /* grid-column: 7/10;
  grid-row: 17/35; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img18 {
  /* grid-column: 7/10;
  grid-row: 35/43; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img19 {
  /* grid-column: 7/10;
  grid-row: 43/61; */
  grid-column-start: span 3;
  grid-row-start: span 18;
}
.img20 {
  /* grid-column: 7/10;
  grid-row: 61/69; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
.img21 {
  /* grid-column: 7/10;
  grid-row: 69/77; */
  grid-column-start: span 3;
  grid-row-start: span 8;
}
