@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Open+Sans:wght@300;500;700&family=Roboto:wght@100;300;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    }
    :root {
    font-size: 0.785rem;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --dark: #292a2b;
    font-family:'Open Sans', sans-serif;
    }
section{
    margin: 2em auto;
    width: 80%;
    min-height: 100vh;
    background-color: white;
    font-size: 2rem;
}
.box1{
    background-color: rgba(250, 250, 250, 1);
    padding: 1em 3em;
    display: flex;
    flex-direction:column;
    width:200vh;
    margin:auto

}
.title{
    padding:0.3em;
    margin-left: 0.7em;
}
.grupotarjetas{
    display:flex;
}
.zapatos1{
    width: 50%;
    height: auto;
    padding: 1em;
    margin:1em;
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 1px 3px grey;
}
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
img{
    width:100%;
    height: auto;   
}
h3{
   margin-top: 1em;
   color: rgb(63, 62, 62); 
}
p{
    font-size: 1.1rem;
    font-style: italic;
    color: grey;
    margin-top: 0.7em;
    margin-bottom: 1.4em;
}
i{
    color:green;
    font-size: 0.9rem;
    margin-bottom: 2em;
}





